[Unit]
Description=Nemini - The simple Gemini server service

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/local/bin/nemini --config /etc/nemini/nemini.toml

[Install]
WantedBy=multi-user.target
